<div class="login-container">

  <h2>{{ isLogin ? 'Iniciar sesión' : 'Crear cuenta' }}</h2>

  <!-- SOLO EN REGISTRO -->
  @if (!isLogin) {
    <input [(ngModel)]="name" placeholder="Nombre" />
  }

  <input [(ngModel)]="email" placeholder="Email" />
  <input [(ngModel)]="password" type="password" placeholder="Contraseña" />

  <button (click)="submit()">
    {{ isLogin ? 'Ingresar' : 'Registrarse' }}
  </button>

  <p class="toggle-text">
    {{ isLogin ? '¿No tenés cuenta?' : '¿Ya tenés cuenta?' }}
  </p>

  <button class="link-btn" (click)="toggleMode()">
    {{ isLogin ? 'Registrarse' : 'Iniciar sesión' }}
  </button>

</div>