.login-container {
  max-width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #25d366;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.link-btn {
  background: transparent;
  color: #25d366;
}

.toggle-text {
  font-size: 14px;
  color: gray;
}