<div style="padding: 50px; text-align: center;">

  <h2>@if (isLogin) { Login } @else { Registro }</h2>

  @if (!isLogin) {
    <input [(ngModel)]="name" placeholder="Nombre" />
    <br /><br />
  }

  <input [(ngModel)]="email" placeholder="Email" />
  <br /><br />

  <input [(ngModel)]="password" type="password" placeholder="Contraseña" />
  <br /><br />

  <button (click)="submit()">
    @if (isLogin) { Ingresar } @else { Registrarse }
  </button>

  <br /><br />

  <button (click)="toggleMode()">
    @if (isLogin) { Crear cuenta } @else { Ya tengo cuenta }
  </button>

</div>