.chat-window {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* header */
.chat-header {
  padding: 10px;
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

/* mensajes */
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* 🔴 INPUT SIEMPRE ABAJO */
app-chat-input {
  display: block;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: white;
}