<div class="chat-list">

 
  <div class="new-chat">
    <input
      type="text"
      placeholder="Nuevo chat..."
      [formControl]="newChatControl"
      (keydown.enter)="createChat()"
    >
    <button (click)="createChat()">+</button>
  </div>

  
  @for (chat of chats; track chat.id) {

    <div class="chat-item" (click)="selectChat(chat)">

      <img [src]="chat.avatar" class="avatar">

      <div class="info">
        <h4>{{ chat.name }}</h4>

        @if (chat.status === 'online') {
          <small class="online">Online</small>
        } @else {
          <small class="offline">
            {{ chat.lastSeen }}
          </small>
        }

      </div>

    </div>

  }

</div>