<div class="container" [class.show-chat]="selectedChat">

 
  <div class="sidebar">

    @for (chat of chats; track chat.id) {
      <div class="chat-item" (click)="selectChat(chat)">
        <img class="avatar" [src]="chat.avatar" />

        <div class="chat-info">
          <div class="name">{{ chat.name }}</div>
          <div class="status">
            {{ chat.status === 'online' ? '🟢 En línea' : '⚫ Sin conexión' }}
          </div>
        </div>
      </div>
    }

    <button class="logout" (click)="logout()">Cerrar sesión</button>

  </div>

 
  <div class="chat">

    @if (!selectedChat) {
      <div class="empty">
        Seleccioná un chat
      </div>
    }

    @if (selectedChat) {

     
      <button class="back" (click)="selectedChat = null">
        ⬅ Volver
      </button>

     
      <div class="chat-header">
        <img class="avatar" [src]="selectedChat.avatar" />
        <div>
          <div class="name">{{ selectedChat.name }}</div>
          <div class="status">{{ selectedChat.status }}</div>
        </div>
      </div>

      
      <div class="messages">

        @for (msg of selectedChat.messages; track $index) {
          <div
            class="message"
            [class.me]="msg.from === currentUserName">

            {{ msg.text }}

          </div>
        }

      </div>

      
      <div class="input-area">
        <input
          [(ngModel)]="newMessage"
          placeholder="Escribí un mensaje..."
        />
        <button (click)="sendMessage()">Enviar</button>
      </div>

    }

  </div>

</div>
