<div class="container">

  <!-- IZQUIERDA -->
  <app-chat-list
    [chats]="chatService.chats"
    (chatSelected)="chatService.selectChat($event)"
    (newChat)="chatService.addChat($event)">
  </app-chat-list>

  <!-- DERECHA -->
  @if (chatService.selectedChat) {
    <app-chat-window
      [chat]="chatService.selectedChat"
      [currentUser]="chatService.currentUser"
      (messageSent)="chatService.addMessage($event)">
    </app-chat-window>
  } @else {
    <div class="no-chat">
      <p>Seleccioná un chat</p>
    </div>
  }

</div>